@charset "UTF-8"


* {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
   
    background-image: linear-gradient(to right, #55C2B7, #3862C2);
}
main {
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px #5c46126b;
    width: 600px;
    padding: 10px;
    margin:auto
}
p {
    text-align: justify;
}
h1 {
    color:#AF3DC2;
    text-align: center;
    text-shadow: 1px 1px 2px #4b1a5386;

}
h2 {
    color:#8DC044;
    text-shadow: 1px 1px 2px #5374296c;

}